/.idea/CS2Test.iml
/main.cpp
/.idea/modules.xml
/.idea/misc.xml
/.idea/vcs.xml
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-692129cff8460a1acabe.json
